---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ImageBox from '../components/ImageBox.astro';
---

<Layout title="Para que siempre recuerdes que te amo">
	<main class=" w-screen h-screen flex-col bg-gradient-to-r from-[#1f0e1a] to-[#030003]">
		<h1 class="absolute top-24 left-1/2 -translate-x-1/2 text-white z-10">Te amo mucho</h1>
		<div class=" z-0 w-screen h-screen">
			<script type="module" src="https://unpkg.com/@splinetool/viewer@1.0.16/build/spline-viewer.js"></script>
		<spline-viewer url="https://prod.spline.design/4y4m4yZHH-O218xP/scene.splinecode"></spline-viewer>
		</div>
		<p class="absolute bottom-12 left-1/2 -translate-x-1/2 text-white z-10">Hace scrol hacia abajo ❤️</p>
	</main>
</Layout>